PROMETHEUS_CONTAINER_NAME=
PROMETHEUS_VIRTUAL_HOST=
PROMETHEUS_VIRTUAL_PORT=

GRAFANA_CONTAINER_NAME=
GRAFANA_VIRTUAL_HOST=
GRAFANA_VIRTUAL_PORT=

TEMPO_CONTAINER_NAME=
TEMPO_VIRTUAL_HOST=
TEMPO_VIRTUAL_PORT=